!!!
%html
  %head
    %title= "Mihimihi"
    %meta{name: "description", content: "Mihimihi visualisation by Graham Jenson"}
    %meta{name: "keywords",content: "Mihimihi visualisation mixandmash hashbang"}
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    //this is here because google stuff inserts above first script element
    %script
%body
  = yield

= render 'shared/google_analytics'
= google_webfonts_link_tag :unica_one, :lato, :strait, :bilbo
%link(href='http://fonts.googleapis.com/css?family=Amatic+SC:700a' rel='stylesheet' type='text/css')
= javascript_include_tag "mihimihimeta"
